version: '3'
services:
  app:
    image: ghcr.io/enoy19/zpl-tool:main
    ports:
      - 3000:3000
    # add rfcomm device for bluetooth support
    # devices:
    #  - /dev/rfcomm0:/dev/rfcomm0
    volumes:
      - ./data:/app/data

  binarykits-zpl:
    image: ghcr.io/enoy19/binarykits-zpl:latest
    ports:
      - 7763:80
